{% extends "AcmeFirstBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% block body %}
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if app.session is not empty %}
            <div class="success">
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
            </div>
    {% endif %}
{% endblock %}
{% endblock fos_user_content %}
