{% extends "AcmeFirstBundle::layout.html.twig" %}

{% block title %}Change password - Page{% endblock %}

{% block leftSidebar %}
    <div id="sidebarMenu">
        <a href="{{ path('user_profile') }}">My profile</a><br/>
        <a href="{{ path('fos_user_profile_edit') }}">Change Username/Email</a>
    </div>
{% endblock %}

{% block body %}
    <h2>Change password</h2>
    {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}
