{% extends 'AcmeFirstBundle::layout.html.twig' %}

{% block title %}Change password - Page{% endblock %}

{% block leftSidebar %}
    <div id="sidebarMenu">
        <a href="{{ path('admin_add_user') }}">Add new user</a><br/>
        <a href="{{ path('admin_list_users') }}">Users list</a>
    </div>
{% endblock %}

{% block body %}
    <h2>Change password</h2>
    <p id="adminPanelContent">Change password for user: <span id="bold">{{ user.username }}</span></p>
    {{ form(form) }}
{% endblock %}